mixin side-right(options = {number: "", source:"", month: "", title: "", text: "", buttonTitle: ""})
    -let {number, source, month, title, text, buttonTitle } = options;
    .side-right
        img.side-right__image(src=source, alt="Pic 2")
        .side-right__content-container
            .side-right__date-container
                .side-right__date-number= number
                .side-right__date-month= month
            .side-right__title-container
                p.side-right__title= title
            .side-right__text-container
                p.side-right__text= text
            button.side-right__button(name="button")= buttonTitle
